site_name: Chiron's Blog
site_description: Personal blog and journal
site_author: Chiron
site_url: https://chironsb.github.io

theme:
  name: material
  logo: assets/images/chironslogo.png
  favicon: assets/images/chironslogo.png


  font:
    text: Roboto
    code: Roboto Mono
  palette:
    - scheme: slate
      primary: amber
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    - scheme: default
      primary: amber
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.prune
    - navigation.top
    - navigation.tracking
    - content.action.edit
    - content.code.copy
    - content.code.annotate
    - content.tooltips
    - search.highlight
    - search.share
    - search.suggest

# Custom CSS and JavaScript for parallax
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascripts/extra.v2.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search


markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Capacități: capacitati.md
  - Proiecte: proiecte.md
  - Community: community/index.md 